@font-face {
   font-family: sansationLight;
   src: url("../fonts/sansation_light_macroman/Sansation-Light-webfont.woff");
}

@font-face {
   font-family: sansationBold;
   src: url("../fonts/sansation_bold_macroman/Sansation-Bold-webfont.woff");
}



.mainSideBar{
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #252831;
    overflow-x: hidden;
}

.sideBarHeader{
    padding: 20% 20% 20% 20%;
    display: block;
    text-align: center;
    height:200px;
}

.sideBarHeader a img{
    width: 100%;
}

.sideBarBody a, .selectedSideBarButton{
    text-decoration: none;
    font-size: 18px;
    color: #C8CDCE;
    display: block;
    font-family: sansationLight;
    text-align: center;
     border-style: solid;
     border-width: 1px 0px 0px 0px;
    border-color: #C8CDCE;
    height:60px;
    line-height: 60px;
}

.selectedSideBarButton{
    color: #252831 !important;
    border-color: #252831 !important;
    background:#1AAAE0;
    font-family: sansationBold !important;
}

.sideBarBody a:hover {
    color: #1AAAE0;
}


/* Style for footer social buttons */
.sideBarFooter{
    text-align: center;
     border-style: solid;
     border-width: 1px 0px 0px 0px;
    border-color: #C8CDCE;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 100px 5px;
  border-radius: 50%;
  background: #525868;
  color: #252831;

}

.fa:hover {
    opacity: 0.7;
}

.mainContent, .backgroundImage {

}
.mainContent {
    margin-left: 320px;
    padding: 0px 10px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    position: fixed;
}

.backgroundImage {
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    filter: brightness(40%);
}

.pageContainer{
    position:relative;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}
.title{
  font-weight: 700;
  color: transparent;
  font-size:100px;
  font-family: sansationLight;
/*  background: url("../images/titleBackground.jpg") repeat;*/
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: -8px;
}
.subtitle{
  display: block;
  font-family: sansationLight;
  text-align: center;
  text-transform: uppercase;
  font-size:25px;
  padding-top:20px;
  color:#C8CDCE;
}


