@font-face {
   font-family: sansationLight;
   src: url("../fonts/sansation_light_macroman/Sansation-Light-webfont.woff");
}

@font-face {
   font-family: sansationBold;
   src: url("../fonts/sansation_bold_macroman/Sansation-Bold-webfont.woff");
}



.mainSideBar{
    transition: margin-left .5s;
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222923;
    overflow-x: hidden;
}

.sideBarHeader{
    text-align: center;
    height:400px;
    width:400px;
}

.sideBarHeader a img{
    width: 260px;
    height: 260px;
    margin-top: 60px;
}

.sideBarBody a, .selectedSideBarButton{
    text-decoration: none;
    font-size: 18px;
    color: #747866;
    display: block;
    font-family: sansationLight;
    text-align: center;
    height:60px;
    line-height: 60px;
}

.selectedSideBarButton{
    color: #FFFFF1 !important;
    background:#1C221D;
    font-family: sansationBold !important;
}

.sideBarBody a:hover {
    color: #FFFFF1;
    font-family: sansationBold !important;
}

/* Style for footer social buttons */
.sideBarFooter{
    text-align: center;
    font-size : 25px;
    position: absolute;
    width: 100%;
    bottom: 20px;
    font-family: sansationLight ;
}


.fa {
    padding: 8px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    background: #222923;
    color: #41484C;
    bottom : 0px;
    display: unset !important;
}

.fa:hover {
    opacity: 0.7;
    color: #FFFFF1;
}

.copyRightSection{
    font-size: 15px;
    margin-top: 15px;
}


.mainContent {
    transition: margin-left .5s;
    margin-left: 400px;
    padding: 0px 10px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    position: fixed;
}

@media screen and (min-width: 1026px) {
    #hiddenMenuButton {visibility: hidden;}
}


@media screen and (max-width: 1025px) {
  #hiddenMenuButton {visibility: visible;}
  .mainSideBar{
        margin-left: -400px ;
  }

  .mainContent {
    margin-left: 0px ;
  }
}

@media screen and (max-height: 899px) {
    .mainSideBar{
        height: 900px;
        overflow-y: auto;
    }

}


#hiddenLayer {
    visibility: hidden;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hiddenMenuButton, #hiddenMenuButton:hover {
    cursor: pointer;
    width: 65px;
    margin-top: 10px;
    background: #77777742;
    border-color: #77777742;
    color: #fcf8e3;
}
#hiddenMenuButton:hover {
    opacity: 0.5;
}
/*.menuButton span{
    font-size:40px;
    cursor:pointer;
    color:#fff6;
}*/
.backgroundImage {
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    filter: brightness(40%);
}

.pageContainer{
    position:relative;
    /*-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);*/
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}
.title{
  font-weight: 700 !important;
  color: transparent !important;
  font-size:100px !important;
  font-family: sansationLight !important;
 /* background-position: 40% 50% ;*/
  -webkit-background-clip: text !important;
  position:relative !important;
  text-align:center !important;
  line-height:120px !important;
  letter-spacing: -8px !important;
}
.subtitle{
  display: block;
  font-family: sansationLight;
  text-align: center;
  text-transform: uppercase;
  font-size:25px;
  padding-top:20px;
  color:#FFFFF1;
}


