{% extends "MainWebApp/mainMenu.html" %}

{% block content %}
<section id="indexSection" class="wrapper style1 fullscreen fade-up" >
						<div class="inner">
							<h1>Powered by neuroscience.</h1>
                            <h1>Designed for future.</h1>
							<p>Bridge the gap between the virtual and the real with the world's most immersive AR experience.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
</section>
{% endblock %}