<!DOCTYPE html>
<html>
<head>
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'MainWebApp/images/Icon.gif' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'MainWebApp/css/mainStyle.css' %}">
    <link rel="stylesheet" href="{% static 'MainWebApp/css/font-awesome.min.css' %}">
</head>
<body>

<h1 id="hiddenCurrentUrl" style="visibility: hidden"> {{ request.path }} </h1>

<div class="mainSideBar">
   <div class="sideBarHeader">
        <a href="{% url 'index' %}" ><img src="{% static 'MainWebApp/images/logo.png' %}" ></a>
   </div>

    <div class="sideBarBody">
        <a href="{% url 'about' %}">WHO WE ARE</a>
        <a href="{% url 'details' %}">WHAT WE DO</a>
        <a href="{% url 'project' %}">AVR PROJECTS</a>
        <a href="{% url 'contact' %}">GET IN TOUCH</a>

   </div>

    <div class="sideBarFooter">
        <a href="https://www.facebook.com/robertle11" class="fa fa-facebook" ></a>
        <a href="https://www.instagram.com/robertle11/" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/robertle1991/" class="fa fa-linkedin"></a>
        <a href="https://www.github.com/Robert1191" class="fa fa-github"></a>

        <div class="copyRightSection">© Copyright 2018 AVR Studio, All rights reserved.</div>
   </div>

</div>

<div class="mainContent">
  {% block content %}
    {% endblock %}
</div>

<script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/jquery/jquery.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'MainWebApp/jquery/mainFunc.js' %}"></script>
</body>
</html>

