<!DOCTYPE html>
<html>
<head>
     {% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'MainWebApp/css/mainStyle.css' %}">
</head>
<body>



<div class="mainSideBar">
   <div class="sideBarHeader">
        <a href="{% url 'index' %}" ><img src="{% static 'MainWebApp/images/logo.jpg' %}" ></a>
   </div>

    <div class="sideBarBody">
        <a href="{% url 'about' %}">WHO WE ARE</a>
        <a href="{% url 'about' %}">WHAT WE DO</a>
        <a href="{% url 'about' %}">GET IN TOUCH</a>

   </div>

    <div class="sideBarFooter">

   </div>

</div>

<div class="mainContent">
  {% block content %}
    {% endblock %}
</div>

</body>
</html>
